* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10rem;
  margin: 0.5rem 1rem 0;
}

.answers {
  padding: 0;
  margin: 0;
  list-style: none;
}
.used {
  border: 2px solid black;
  height: 410px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.275s ease;
}

p {
  padding: 0;
  margin: 2px;
}

.dropdown {
  transition: 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}
@media screen and (max-width: 1200px) {
  .game-container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .game-container {
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    grid-gap: 2rem;
  }
  .letters-container {
    order: 2;
  }
  .used {
    margin-top: 5px;
    height: 1.75rem;
  }
  .small-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    font-weight: bold;
  }
}
