.answers {
  column-count: auto;
  height: 100%;
}

.answers--li {
  display: inline-block;
  width: 20%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
.scrollbox {
  overflow: hidden;
}
.scrollbox:hover,
.scrollbox:focus {
  overflow: scroll;
}
@media screen and (max-width: 700px) {
  .answers--li {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .answers--li {
    width: 33%;
  }
}
