.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease;
  text-align: center;
}
.btn:active {
  transform: scale(1.05);
}

.grid {
  display: grid;
}
.grid--three {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid--one {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  transition: 0.1s ease;
  cursor: pointer;
  text-align: center;
}
.grid-item:hover {
  transform: scale(1.05);
}
